.jumbotron {
  background: url('https://picsum.photos/id/6/1300/900') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
