<div class="absolute w-300 bg-amber-700 h-full shadow-cyan-900">
  <div>
    <a class="px-15 py-20"><span class="text-60 font-bold">Ace</span></a>
  </div>
  <div class="w-300">
    <ul>
      <li class="px-15 py-10 hover:bg-amber-500 cursor-pointer"><a class="font-medium text-16">Home</a></li>
      <li class="px-15 py-10 hover:bg-amber-500 cursor-pointer"><a class="font-medium text-16">Bookcase</a></li>
      <li class="px-15 py-10 hover:bg-amber-500 cursor-pointer"><a class="font-medium text-16">Help</a></li>
    </ul>
  </div>
</div>
